<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="D:\Program Files (x86)\nodejs\22.22.2\node.exe"
                  arguments="&quot;%home%\site\wwwroot\server.js&quot;"
                  startupTimeLimit="180"
                  startupRetryCount="5"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\node"
                  rapidFailsPerMinute="10">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="HOME" value="%home%" />
      </environmentVariables>
    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
