<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service Windows + Next.js (iisnode)
  https://azureossd.github.io/2024/02/05/NextJS-deployment-on-App-Service-Windows/
-->
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode nodeProcessCommandLine="node.exe"
             node_env="production"
             loggingEnabled="true"
             logDirectory="D:\home\LogFiles\iisnode"
             watchedFiles="web.config;server.js"
             devErrorsEnabled="true" />
  </system.webServer>
</configuration>
